<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="basicMaven.Listener" />
	</listeners>

  <test name="Test">
  <parameter name="URL" value="www.google.com"/>
  <parameter name="userName" value="admin"/>
    <classes>
      <class name="basicMaven.BaseTest"/>
      <class name="basicMaven.Base3Test"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test name="Round Two">
  <parameter name="URL" value="www.msn.com"/>
  	<classes>
      <class name="basicMaven.Base2Test">
      	<methods>
      	</methods>
      </class>
     </classes>
  </test>
  
</suite> <!-- Suite -->
